# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [144]:
#Import your libraries
import numpy as np
import pandas as pd

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [145]:
google_play = pd.read_csv('../../data/googleplaystore.csv')

#### Examine all variables and their types in the following cell

In [146]:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [147]:
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [148]:
google_play['Reviews_numeric'] = google_play['Reviews'].apply(pd.to_numeric, errors='coerce')

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

In [149]:
google_play['Reviews_isnull'] = pd.DataFrame(google_play['Reviews_numeric'].isnull())

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](../images/reviews-bool.png)

In [150]:
google_play[google_play['Reviews_isnull'] == True]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,True

In [151]:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              10841 non-null  object
 1   Category         10841 non-null  object
 2   Rating           9367 non-null   float64
 3   Reviews          10841 non-null  object
 4   Size             10841 non-null  object
 5   Installs         10841 non-null  object
 6   Type             10840 non-null  object
 7   Price            10841 non-null  object
 8   Content Rating   10840 non-null  object
 9   Genres           10841 non-null  object
 10  Last Updated     10841 non-null  object
 11  Current Ver      10833 non-null  object
 12  Android Ver      10838 non-null  object
 13  Reviews_numeric  10840 non-null  float64
 14  Reviews_isnull   10841 non-null  bool
dtypes: bool(1), float64(2), object(12)
memory usage: 1.2+ MB

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [152]:
google_play['Reviews'].tolist()

['159',
 '967',
 '87510',
 '215644',
 '967',
 '167',
 '178',
 '36815',
 '13791',
 '121',
 '13880',
 '8788',
 '44829',
 '4326',
 '1518',
 '55',
 '3632',
 '27',
 '194216',
 '224399',
 '450',
 '654',
 '7699',
 '61',
 '118',
 '192',
 '20260',
 '203',
 '136',
 '223',
 '1120',
 '227',
 '5035',
 '1015',
 '353',
 '564',
 '8145',
 '36639',
 '158',
 '591',
 '117',
 '176',
 '295221',
 '2206',
 '26',
 '174531',
 '1070',
 '85',
 '845',
 '367',
 '1598',
 '284',
 '17057',
 '129',
 '542',
 '10479',
 '805',
 '129',
 '1403',
 '3971',
 '534',
 '7774',
 '38846',
 '2431',
 '6090',
 '295',
 '190',
 '40211',
 '356',
 '52530',
 '116986',
 '1379',
 '271920',
 '736',
 '7021',
 '197',
 '737',
 '3574',
 '994',
 '197136',
 '142',
 '15168',
 '2155',
 '138',
 '5414',
 '21777',
 '348',
 '250',
 '13372',
 '7880',
 '3617',
 '4806',
 '65786',
 '31433',
 '5097',
 '1754',
 '2680',
 '1288',
 '18900',
 '49790',
 '1150',
 '1739',
 '32090',
 '2225',
 '4369',
 '8572',
 '964',
 '42050',
 '104',
 '17934',
 '601',
 '36',
 '187',
 '182',
 '30',
 '134',
 '74',
 '113715',
 '3595',
 '9315',
 '75',
 '38',
 '26834',
 '119',
 '2277',
 '2280',
 '654',
 '184',
 '9',
 '77',
 '35',
 '364',
 '18',
 '473',
 '30',
 '66',
 '3871',
 '257',
 '62',
 '2914724',
 '1857',
 '4478',
 '577550',
 '814080',
 '246315',
 '454060',
 '155446',
 '418',
 '22486',
 '203130',
 '1435',
 '116507',
 '1433233',
 '90468',
 '860',
 '363934',
 '967',
 '87873',
 '17506',
 '1862',
 '2084',
 '47303',
 '19080',
 '161',
 '85842',
 '7831',
 '91615',
 '4620',
 '21336',
 '26875',
 '1778',
 '2709',
 '64513',
 '8342',
 '527',
 '1322',
 '1680',
 '2739',
 '1065',
 '233757',
 '2',
 '8788',
 '51269',
 '30105',
 '156',
 '114',
 '341157',
 '16129',
 '674730',
 '1254730',
 '85185',
 '32584',
 '217730',
 '70991',
 '1002861',
 '16589',
 '148945',
 '4458',
 '62272',
 '8941',
 '46353',
 '1279184',
 '88073',
 '67000',
 '159872',
 '30847',
 '188841',
 '11622',
 '95912',
 '4034',
 '45964',
 '14955',
 '6903',
 '31614',
 '23055',
 '19023',
 '207372',
 '1225',
 '380837',
 '10600',
 '74359',
 '822',
 '80805',
 '2287',
 '4162',
 '14760',
 '23243',
 '9',
 '8978',
 '80805',
 '42492',
 '286897',
 '103755',
 '46505',
 '11442',
 '10295',
 '159872',
 '296',
 '29313',
 '70991',
 '51507',
 '1802',
 '1383',
 '23175',
 '5868',
 '2111',
 '5448',
 '4159',
 '20815',
 '78662',
 '7149',
 '3079',
 '5800',
 '6989',
 '16422',
 '108741',
 '31614',
 '624',
 '1661',
 '97702',
 '308',
 '6989',
 '5211',
 '1058',
 '78172',
 '159872',
 '296',
 '29313',
 '70991',
 '51507',
 '1802',
 '1383',
 '23175',
 '5868',
 '2111',
 '5448',
 '4159',
 '20815',
 '78662',
 '7149',
 '3079',
 '5800',
 '6989',
 '16422',
 '8978',
 '80804',
 '42492',
 '286897',
 '103755',
 '46505',
 '11442',
 '10295',
 '217730',
 '1002859',
 '51510',
 '413',
 '23175',
 '1013635',
 '24005',
 '57106',
 '2249',
 '516',
 '834',
 '1010',
 '238970',
 '302',
 '438',
 '73',
 '39',
 '144',
 '2181',
 '93965',
 '1446',
 '12088',
 '314',
 '25671',
 '15194',
 '22551',
 '29839',
 '279',
 '564387',
 '1330',
 '1677',
 '757',
 '115',
 '125',
 '9952',
 '18814',
 '21',
 '15',
 '51981',
 '3596',
 '1006',
 '5968',
 '4895',
 '56642847',
 '69119316',
 '125257',
 '9642995',
 '1429035',
 '4604324',
 '3419249',
 '11334799',
 '158679',
 '3075028',
 '4187998',
 '659395',
 '4785892',
 '66602',
 '30209',
 '36901',
 '5149854',
 '192948',
 '99559',
 '437674',
 '13698',
 '2473509',
 '20769',
 '36880',
 '171031',
 '63543',
 '45487',
 '615381',
 '2451083',
 '33053',
 '5387333',
 '3648120',
 '136662',
 '42370',
 '781810',
 '3128250',
 '2083237',
 '541389',
 '46702',
 '2939',
 '13761',
 '258556',
 '40751',
 '17712922',
 '25021',
 '27187',
 '69119316',
 '56646578',
 '4785988',
 '122498',
 '11334973',
 '3419433',
 '132014',
 '83239',
 '594728',
 '5387446',
 '10484169',
 '3128509',
 '2451093',
 '171031',
 '2876500',
 '781810',
 '28238',
 '335646',
 '350154',
 '349384',
 '346982',
 '244863',
 '10790289',
 '330761',
 '37320',
 '12842860',
 '2546527',
 '36893',
 '15880',
 '346980',
 '9643041',
 '3075118',
 '2264916',
 '541389',
 '2473693',
 '42925',
 '5150471',
 '2511130',
 '3648480',
 '17714850',
 '13100',
 '27156',
 '55098',
 '1133501',
 '12578',
 '10965',
 '18247',
 '190613',
 '125232',
 '83239',
 '11334973',
 '72065',
 '27540',
 '104990',
 '177703',
 '17529',
 '177263',
 '237468',
 '32254',
 '483565',
 '552441',
 '60308',
 '457283',
 '93825',
 '32283',
 '15287',
 '205739',
 '14873',
 '7820209',
 '9498',
 '4604483',
 '4188142',
 '88427',
 '305218',
 '183374',
 '20901',
 '122595',
 '124346',
 '837842',
 '255',
 '41420',
 '44706',
 '23707',
 '3419513',
 '4785988',
 '594728',
 '11335255',
 '10484169',
 '5387446',
 '29208',
 '191032',
 '350154',
 '244863',
 '10790289',
 '2546527',
 '1545',
 '57',
 '0',
 '0',
 '4',
 '2',
 '516801',
 '285726',
 '76646',
 '2556',
 '7779',
 '61637',
 '12632',
 '313724',
 '48845',
 '305708',
 '31320',
 '172460',
 '4195',
 '11633',
 '10212',
 '37053',
 '667',
 '13202',
 '28671',
 '1157',
 '212626',
 '222888',
 '2067',
 '1643',
 '105',
 '3414',
 '42194',
 '11806',
 '1999',
 '22544',
 '97684',
 '2519',
 '1146',
 '13046',
 '17268',
 '8722',
 '953',
 '2593',
 '5377',
 '852',
 '212',
 '1972',
 '35206',
 '5164',
 '1939',
 '277',
 '80',
 '825',
 '40035',
 '1093',
 '135418',
 '1601',
 '2212',
 '57081',
 '241',
 '63986',
 '7888',
 '535',
 '5084',
 '2430',
 '285726',
 '48845',
 '2556',
 '7779',
 '837',
 '12632',
 '61637',
 '5377',
 '11633',
 '313724',
 '738',
 '305708',
 '953',
 '4631',
 '222888',
 '17268',
 '5164',
 '4953',
 '4195',
 '28671',
 '212626',
 '1439',
 '1645',
 '13204',
 '853',
 '337',
 '13049',
 '51698',
 '923',
 '1546',
 '149',
 '198',
 '135420',
 '22545',
 '8723',
 '23170',
 '13890',
 '57083',
 '537',
 '13440',
 '143',
 '1059',
 '894',
 '6191',
 '2212',
 '15081',
 '80',
 '218',
 '35205',
 '243950',
 '236',
 '5152',
 '1576',
 '6701',
 '40039',
 '742',
 '187',
 '2506',
 '182986',
 '8661',
 '8',
 '59',
 '35',
 '28',
 '125',
 '185',
 '6',
 '110',
 '3',
 '3',
 '5',
 '3',
 '84',
 '2',
 '20',
 '2',
 '776',
 '2',
 '1',
 '0',
 '14',
 '0',
 '1',
 '1',
 '3',
 '0',
 '0',
 '24',
 '0',
 '23',
 '0',
 '5',
 '18',
 '0',
 '6',
 '1',
 '2',
 '0',
 '5',
 '0',
 '0',
 '0',
 '0',
 '1',
 '11',
 '4',
 '14',
 '0',
 '1',
 '104',
 '0',
 '14',
 '3',
 '101',
 '120',
 '24',
 '0',
 '0',
 '0',
 '6',
 '4954',
 '954',
 '2560',
 '59',
 '3',
 '10212',
 '105',
 '21',
 '42197',
 '28',
 '6',
 '5168',
 '12633',
 '41605',
 '8',
 '218',
 '3',
 '2433',
 '185',
 '80',
 '35',
 '3',
 '5',
 '125',
 '791',
 '110',
 '5323',
 '478',
 '825',
 '69',
 '158',
 '24',
 '53',
 '182986',
 '1157',
 '97699',
 '8',
 '6289924',
 '181893',
 '2544',
 '85375',
 '314299',
 '776',
 '9770',
 '32346',
 '4075',
 '10611',
 '9321',
 '56065',
 '14286',
 '133136',
 '2469',
 '36212',
 '390',
 '1090',
 '266948',
 '342918',
 '748',
 '172640',
 '61',
 '1619',
 '3168',
 '29855',
 '6736',
 '7005',
 '889',
 '5741',
 '27572',
 '10852',
 '9888',
 '1929',
 '1516',
 '215301',
 '423',
 '254519',
 '1107903',
 '85375',
 '181893',
 '211856',
 '99020',
 '90481',
 '32381',
 '248912',
 '248555',
 '215301',
 '272145',
 '56897',
 '8599',
 '41185',
 '29980',
 '304',
 '358',
 '11904',
 '22251',
 '22384',
 '99020',
 '73404',
 '12733',
 '25183',
 '52743',
 '61749',
 '55704',
 '19277',
 '13612',
 '37862',
 '18372',
 '656',
 '240',
 '275',
 '13791',
 '3692',
 '2363',
 '1769',
 '430',
 '756',
 '3963',
 '316',
 '642',
 '1058',
 '2277',
 '85375',
 '181893',
 '6290507',
 '211856',
 '90481',
 '99020',
 '22384',
 '32380',
 '172505',
 '69493',
 '8599',
 '1107884',
 '41185',
 '7973',
 '266935',
 '5695',
 '142632',
 '6290507',
 '55256',
 '172508',
 '54798',
 '4815',
 '75112',
 '33646',
 '1107903',
 '314300',
 '206527',
 '9348',
 '3816',
 '47847',
 '16195',
 '206',
 '28392',
 '3241',
 '835',
 '2525',
 '828',
 '211856',
 '200058',
 '1239',
 '702',
 '108613',
 '69498',
 '148550',
 '6290507',
 '3847',
 '55256',
 '84309',
 '4815',
 '172508',
 '1107948',
 '266948',
 '14206',
 '206532',
 '9348',
 '14700',
 '42828',
 '40209',
 '37862',
 '1405',
 '69498',
 '148549',
 '84311',
 '211856',
 '206532',
 '172508',
 '256079',
 '2078',
 '16103',
 '11',
 '21',
 '31085',
 '3528',
 '5456208',
 '11656',
 '28948',
 '296771',
 '470089',
 '10939',
 '98509',
 '5241',
 '22508',
 '10291',
 '7165362',
 '4885646',
 '141980',
 '6979',
 '46618',
 '103078',
 '17682',
 '37000',
 '175528',
 '1828284',
 '34923',
 '684116',
 '46916',
 '407698',
 '702975',
 '32458',
 '235496',
 '11661',
 '653008',
 '23063',
 '87384',
 '411683',
 '8918',
 '501498',
 '2133296',
 '29690',
 '130549',
 '613059',
 '1633682',
 '42050',
 '2646',
 '21867',
 '32732',
 '653008',
 '243747',
 '2639',
 '1511',
 '44550',
 '501497',
 '5456208',
 '7813',
 '1033',
 '2442',
 '15254',
 '155234',
 '310066',
 '12216',
 '388089',
 '92058',
 '88185',
 '493',
 '33387',
 '123279',
 '27424',
 '60841',
 '29706',
 '288150',
 '14807',
 '319692',
 '61201',
 '22998',
 '12398',
 '35928',
 '64448',
 '22378',
 '501498',
 '5456599',
 '296829',
 '310095',
 '88185',
 '388089',
 '92058',
 '123279',
 '319691',
 '60841',
 '288150',
 '16372',
 '58028',
 '33387',
 '61201',
 '736864',
 '29706',
 '27424',
 '1968',
 '35279',
 '35931',
 '14807',
 '17247',
 '87723',
 '18523',
 '182103',
 '197774',
 '8674',
 '5456708',
 '296771',
 '58082',
 '388089',
 '310066',
 '123279',
 '88185',
 '319691',
 '7813',
 '60841',
 '653008',
 '27424',
 '33387',
 '407719',
 '288150',
 '115033',
 '22997',
 '61201',
 '801',
 '29706',
 '27424',
 '12398',
 '35279',
 '35931',
 '22378',
 '14807',
 '197774',
 '8674',
 '8968',
 '303',
 '407719',
 '732',
 '1856',
 '50725',
 '123279',
 '243747',
 '1575',
 '6238',
 '9941',
 '23666',
 '67554',
 '38769',
 ...]

In [153]:
# Your code here

def convert_string_to_numeric(s):
    """
    Convert a string value to numeric. If the last character of the string is `M`, obtain the 
    numeric part of the string, multiply it with 1,000,000, then return the result. Otherwise, 
    convert the string to numeric value and return the result.
    
    Args:
        s: The Reviews score in string format.

    Returns:
        The correct numeric value of the Reviews score.
    """
    
    if s.endswith('M'):
        s=s.split('M')
        s=pd.to_numeric(s[0])
        return pd.to_numeric(s)*1000000

    else:
        return pd.to_numeric(s)


test_string = '4.0M'

convert_string_to_numeric(test_string) == 4000000

True

The last step is to apply the function to the `Reviews` column in the following cell:

In [154]:
reviews = []

for elem in google_play['Reviews'].tolist():
    reviews.append(convert_string_to_numeric(elem))
    
google_play['Reviews']=reviews

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](../images/reviews-bool-fixed.png)

In [155]:
google_play[google_play['Reviews_isnull'] == True]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3000000.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,True

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [156]:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              10841 non-null  object
 1   Category         10841 non-null  object
 2   Rating           9367 non-null   float64
 3   Reviews          10841 non-null  float64
 4   Size             10841 non-null  object
 5   Installs         10841 non-null  object
 6   Type             10840 non-null  object
 7   Price            10841 non-null  object
 8   Content Rating   10840 non-null  object
 9   Genres           10841 non-null  object
 10  Last Updated     10841 non-null  object
 11  Current Ver      10833 non-null  object
 12  Android Ver      10838 non-null  object
 13  Reviews_numeric  10840 non-null  float64
 14  Reviews_isnull   10841 non-null  bool
dtypes: bool(1), float64(3), object(11)
memory usage: 1.2+ MB

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [157]:
google_play['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [158]:
print('The proportion of occurence of the size value 1000+ to the total number of records is the:',google_play[google_play['Size']=='1,000+'].shape[0]/google_play.shape[0]*100)

The proportion of occurence of the size value 1000+ to the total number of records is the: 0.009224241306152568

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [159]:
google_play.drop('Size',axis=1,inplace=True)

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [160]:
google_play.isna().sum().sort_values(ascending=False)

Rating             1474
Current Ver           8
Android Ver           3
Reviews_numeric       1
Content Rating        1
Type                  1
Reviews_isnull        0
Last Updated          0
Genres                0
Price                 0
Installs              0
Reviews               0
Category              0
App                   0
dtype: int64

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [161]:
print('The proportion of missing values in Rating to the total number of records is the:',google_play['Rating'].isna().sum()/google_play.shape[0]*100)

The proportion of missing values in Rating to the total number of records is the: 13.596531685268886

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [162]:
google_missing_removed = google_play.dropna()

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

In [163]:
#import datetime as dt

#update = []

#for elem in google_missing_removed['Last Updated'].tolist():
    #elem = elem.replace(",", "")
    ##update.append(dt.datetime.strptime(elem,'%B %d %Y').toordinal())

In [164]:
google_missing_removed['Last Updated'] = pd.to_datetime(google_missing_removed['Last Updated'],format='%B %d, %Y')

<ipython-input-164-bc1659b40a80>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google_missing_removed['Last Updated'] = pd.to_datetime(google_missing_removed['Last Updated'],format='%B %d, %Y')

In [165]:
google_missing_removed.head()

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,159.0,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,967.0,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,87510.0,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,215644.0,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,967.0,False

In [166]:
google_missing_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              9360 non-null   object
 1   Category         9360 non-null   object
 2   Rating           9360 non-null   float64
 3   Reviews          9360 non-null   float64
 4   Installs         9360 non-null   object
 5   Type             9360 non-null   object
 6   Price            9360 non-null   object
 7   Content Rating   9360 non-null   object
 8   Genres           9360 non-null   object
 9   Last Updated     9360 non-null   datetime64[ns]
 10  Current Ver      9360 non-null   object
 11  Android Ver      9360 non-null   object
 12  Reviews_numeric  9360 non-null   float64
 13  Reviews_isnull   9360 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(3), object(9)
memory usage: 1.0+ MB

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [167]:
google_missing_removed['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [168]:
google_missing_removed['Price Numerical'] = google_missing_removed['Price'].str.replace('$',' ')

<ipython-input-168-dcab0938c47d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google_missing_removed['Price Numerical'] = google_missing_removed['Price'].str.replace('$',' ')

In [169]:
google_missing_removed['Price Numerical'].unique()

array(['0', ' 4.99', ' 3.99', ' 6.99', ' 7.99', ' 5.99', ' 2.99', ' 3.49',
       ' 1.99', ' 9.99', ' 7.49', ' 0.99', ' 9.00', ' 5.49', ' 10.00',
       ' 24.99', ' 11.99', ' 79.99', ' 16.99', ' 14.99', ' 29.99',
       ' 12.99', ' 2.49', ' 10.99', ' 1.50', ' 19.99', ' 15.99', ' 33.99',
       ' 39.99', ' 3.95', ' 4.49', ' 1.70', ' 8.99', ' 1.49', ' 3.88',
       ' 399.99', ' 17.99', ' 400.00', ' 3.02', ' 1.76', ' 4.84', ' 4.77',
       ' 1.61', ' 2.50', ' 1.59', ' 6.49', ' 1.29', ' 299.99', ' 379.99',
       ' 37.99', ' 18.99', ' 389.99', ' 8.49', ' 1.75', ' 14.00', ' 2.00',
       ' 3.08', ' 2.59', ' 19.40', ' 3.90', ' 4.59', ' 15.46', ' 3.04',
       ' 13.99', ' 4.29', ' 3.28', ' 4.60', ' 1.00', ' 2.95', ' 2.90',
       ' 1.97', ' 2.56', ' 1.20'], dtype=object)

#### Second step, coerce the `Price Numerical` column to numeric.

In [170]:
google_missing_removed['Price Numerical'] = pd.to_numeric(google_missing_removed['Price Numerical'])

<ipython-input-170-9a3d6c236270>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google_missing_removed['Price Numerical'] = pd.to_numeric(google_missing_removed['Price Numerical'])

**Finally, drop the original `Price` column.**

In [171]:
google_missing_removed = google_missing_removed.drop('Price',axis=1)

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [172]:
google_missing_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              9360 non-null   object
 1   Category         9360 non-null   object
 2   Rating           9360 non-null   float64
 3   Reviews          9360 non-null   float64
 4   Installs         9360 non-null   object
 5   Type             9360 non-null   object
 6   Content Rating   9360 non-null   object
 7   Genres           9360 non-null   object
 8   Last Updated     9360 non-null   datetime64[ns]
 9   Current Ver      9360 non-null   object
 10  Android Ver      9360 non-null   object
 11  Reviews_numeric  9360 non-null   float64
 12  Reviews_isnull   9360 non-null   bool
 13  Price Numerical  9360 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(4), object(8)
memory usage: 1.0+ MB

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [173]:
google_reviews = pd.read_csv('../../data/googleplaystore_user_reviews.csv')

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [174]:
google_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [175]:
review_missing_removed = google_reviews.dropna()

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [176]:
review_missing_removed['App'].value_counts()

Bowmasters                                            312
Angry Birds Classic                                   273
Helix Jump                                            273
Calorie Counter - MyFitnessPal                        254
Candy Crush Saga                                      240
                                                     ...
DashClock Widget                                        1
Drawing for Kids Learning Games for Toddlers age 3      1
Draw A Stickman                                         1
Best Fiends - Free Puzzle Game                          1
Caf - Mon Compte                                        1
Name: App, Length: 865, dtype: int64

In [177]:
review_missing_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37427 entries, 0 to 64230
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     37427 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37427 non-null  object
 3   Sentiment_Polarity      37427 non-null  float64
 4   Sentiment_Subjectivity  37427 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.7+ MB

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

In [178]:
np.where(review_missing_removed['Sentiment']=='Positive',1,0).sum()

23998

In [179]:
# Your code below

def positive_function(x):
    """
    Count how many times the string `Positive` appears in a column (exact string match).
    
    Args:
        x: data column
    
    Returns:
        The number of occurrences of `Positive` in the column data.
    """
    return np.where(x == 'Positive',1,0).sum()

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](../images/positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

In [180]:
google_agg = review_missing_removed.groupby('App').agg({'Sentiment':[positive_function,'count']})

In [181]:
#google_agg = review_missing_removed.groupby('App').agg(Positive=('Sentiment', positive_function), Total=('Sentiment', 'count'))

In [182]:
google_agg.columns = (['Positive','Total'])

Print the first 5 rows of `google_agg` to check it.

In [183]:
google_agg.head()

                                  Positive  Total
App
10 Best Foods for You                  162    194
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        31     40
11st                                    23     39
1800 Contacts - Lens Store              64     80
1LINE – One Line with One Touch         27     38

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [184]:
google_agg['Positive Ratio'] = np.where(google_agg['Total'] != 0 ,google_agg['Positive']/google_agg['Total'],0)

#np.where(review_missing_removed['Sentiment']=='Positive',1,0).sum()

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [185]:
google_agg = google_agg.drop(columns=['Positive','Total'])

In [186]:
google_agg.head()

                                  Positive Ratio
App
10 Best Foods for You                   0.835052
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        0.775000
11st                                    0.589744
1800 Contacts - Lens Store              0.800000
1LINE – One Line with One Touch         0.710526

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](../images/positive-review-ratio.png)

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [187]:
google = pd.merge(left=google_missing_removed,right=google_agg,on='App')

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](../images/google-final-head.png)

In [188]:
google.head()

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull,Price Numerical,Positive Ratio
0,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,967.0,False,0.0,0.590909
1,Coloring book moana,FAMILY,3.9,974.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,974.0,False,0.0,0.590909
2,Garden Coloring Book,ART_AND_DESIGN,4.4,13791.0,"1,000,000+",Free,Everyone,Art & Design,2017-09-20,2.9.2,3.0 and up,13791.0,False,0.0,0.711111
3,FlipaClip - Cartoon animation,ART_AND_DESIGN,4.3,194216.0,"5,000,000+",Free,Everyone,Art & Design,2018-08-03,2.2.5,4.0.3 and up,194216.0,False,0.0,1.000000
4,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,4.1,654.0,"100,000+",Free,Everyone,Art & Design,2018-03-20,1.1,4.0.3 and up,654.0,False,0.0,0.605263